body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.main-header {
  margin-bottom: 70px;
}

.inner-page .main-header {
  margin-bottom: 50px;

  background-color: #000000;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.main-header-logo {
  order: 2;
  width: 368px;
  height: 153px;
}

.inner-page .main-header-logo {
  order: 0;
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  
  background-color: #000000;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.user-navigation {
  display: flex;
  max-width: 140px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;
  padding: 25px 20px;
  
  vertical-align: middle;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color: #242424;
}

.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}

.login-link::before {
  content: "";
  position: absolute;
  top: 27px;
  left: 24px;
  width: 16px;
  height: 18px;

  background-image: url("../img/icon/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
}

.inner-page .user-navigation {
  margin-left: auto;
}

.features {
  margin-bottom: 78px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 300px;

  text-align: center;
}

.feature-item h3 {
  position: relative;
  margin: 0;
  margin-bottom: 60px;

  font-size: 30px;
  line-height: 42px;
}

.feature-item h3::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-left: -10px;

  background-color: #ffffff;

  transform: rotate(45deg);
}

.feature-item p {
  margin: 0 10px;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  padding: 46px 80px 50px 80px;

  color: #000000;

  background-color: #f8f5f2;
  background-image: 
    url("../img/line.png"),
    url("../img/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;
}

.news {
  width: 380px;
}

.news-list {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  list-style: none;
}

.news-item {
  margin-bottom: 25px;
}

.news-item p {
  margin: 0;
}

.news-item time {
  text-transform: none;
}

.gallery {
  width: 300px;
}

.gallery-container {
  position: relative;
  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;

  background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}

.contacts {
  width: 380px;
}

.contacts p {
  margin: 0;
  margin-bottom: 25px;
}

.appointment {
  width: 300px;
}

.appointment-info {
  margin: 0;
  margin-bottom: 15px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-item {
  width: 140px;
  margin: 0;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;
  margin-bottom: 9px;
  margin-left: 15px;
}

.appointment-item input {
  box-sizing: border-box;
  width: 140px;
  padding: 8px 15px 7px 15px;

  font: inherit;

  background-color: transparent;
  border: 2px solid #000000;
}

.appointment-item input:focus {
  border-color: #663d15;
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

.page-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;

  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  list-style: none;
}

.catalog-item {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a {
  color: #000000;
}

.catalog-item h3 {
  font-size: 14px;
  line-height: 18px;
}

.catalog-category {
  text-transform: none;
}

.catalog-item-price b {
  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  line-height: 20px;
  color: #ffffff;
}

.pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-list a {
  color: #ffffff;

  background-color: #000000;
}

.pagination-list a:hover,
.pagination-list a:focus,
.pagination-list a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}

.product-photos {
  width: 460px;
}

.product-photos-preview {
  margin: 0;
  padding: 0;

  list-style: none;
}

.product-photos-preview li {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-photo-full {
  margin: 0;
  padding: 0;

  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

.product-article {
  text-align: right;
  color: #aeaeae;
}

.product-price b {
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}

.product-info {
  width: 380px;
}

.product-info h3 {
  font-size: 24px;
  line-height: 30px;
}

.product-info ul {
  list-style: none
}

.slogan {
  margin-bottom: 57px;
}

.slogan b {
  font-size: 48px;
  line-height: 60px;
}

.info-columns {
  display: flex;
  margin-bottom: 63px;
}

.materials {
  width: 240px;
  margin-right: 240px;
}

.materials h2 {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.materials-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.prices {
  width: 460px;
}

.prices h2 {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.about h2 {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.main-footer {
  margin-top: 65px;
  padding: 67px 0 53px 0;

  color: #ffffff;

  background-color: #212121;
  background-image: url("../img/pattern-dark.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-footer {
  margin-top: 49px;
}

.main-footer .container {
  display: flex;
}

.footer-contacts {
  width: 320px;
  margin: 0;
  margin-right: 80px;
}

.footer-contacts a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  width: 145px;

  text-align: center;
}

.footer-social b {
  display: block;
  margin-bottom: 15px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 43px;
  height: 43px;
  margin-bottom: 10px;

  color: #ffffff;

  background-color: #000000;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover path,
.social-button:focus path {
  fill: #000000;
}

.footer-copyright {
  width: 140px;
  margin: 0;
  margin-left: auto;

  text-align: center;
}

.footer-copyright b {
  display: block;
  margin-bottom: 15px;
}

.footer-copyright .button {
  display: block;
  margin-right: 0;
}

.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: #000000;

  background-color: #ffffff;
}

.modal {
  color: #000000;

  background-color: #f8f3f0;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.restore {
  color: #000000;
  text-decoration: underline;
}

.restore:hover,
.restore:focus {
  text-decoration: none;
}